name: CI/CD - Build Scan Push Deploy

on:
  push:
    branches: [ main ]

jobs:
  build-scan-push-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # ✅ Login to DockerHub (NO TOKEN)
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build Backend image
        run: docker build -t vanshp17/project-backend:latest ./app/backend

      - name: Build Frontend image
        run: docker build -t vanshp17/project-frontend:latest ./app/frontend

      # ✅ Install Trivy
      - name: Install Trivy
        run: |
          sudo apt-get update && sudo apt-get install -y wget
          wget -qO- https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin

      # ✅ Scan Images (does not stop pipeline)
      - name: Scan Backend Image
        run: trivy image --severity CRITICAL,HIGH --exit-code 1 vanshp17/project-backend:latest

      - name: Scan Frontend Image
        run: trivy image --severity CRITICAL,HIGH --exit-code 1 vanshp17/project-frontend:latest

      # ✅ Push images to DockerHub
      - name: Push images
        run: |
          docker push vanshp17/project-frontend:latest
          docker push vanshp17/project-backend:latest

      # ✅ Deploy on VM after Terraform (automated)
      - name: SSH & Deploy Containers
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USER }}
          password: ${{ secrets.VM_PASSWORD }}
          script: |
            docker pull vanshp17/project-backend:latest
            docker pull vanshp17/project-frontend:latest

            docker stop backend || true
            docker stop frontend || true
            
            docker rm backend || true
            docker rm frontend || true

            docker run -d --name backend -p 5000:5000 vanshp17/project-backend:latest
            docker run -d --name frontend -p 80:3000 vanshp17/project-frontend:latest
